* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html{
  font-size:62.5%;
}

body{
  font-size:1.8rem;
  font-family:"freight-text-pro", "ff-meta-serif-web-pro", serif;
  color:#444;
  line-height:1.6;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  font-weight: normal;
}

a{
  color:#275C7B;
  transition: color .5s ease;
  text-decoration:none;
}

a:hover{
	color:#000;
  text-decoration:underline;
}

.essay .content-body > p:first-child:first-line{
  font-family: "ff-meta-serif-sc-web-pro";
}

.entry-content h3{
  font-style: italic;
  font-weight:normal;
}

img{
  max-width:100%;
}

blockquote{
  font-style:italic;
  color:#666;
  border-left:2px solid #eee;
  margin-left:0;
  padding-left:2rem;
}

figure{
  margin:2rem 0;
}

figcaption{
  font-size:14px;
  color:#999;
  text-align:center;
}

mark{
	background:rgba(248,231,28,.20);
}

.footnotes{
  color:#666;
  font-size:14px;
  font-size:1.4rem;
}

.container{
  width:90%;
  max-width:90rem;
  margin: 0 auto;
}

main{
  margin: 4rem 0;
}

header[role="banner"] {
  background:#275C7B;
  padding:1rem 2rem;
  text-align:center;
  font-size:1.6rem;
  margin-bottom:2rem;
  text-transform:lowercase;
}

header[role="banner"] h1 {
  color:#bbb;
  color:rgba(255,255,255,.30);
  font-size:1.6rem;
  font-weight:500;
  margin:0;
}

header[role="banner"] h1 a{
  color:#275C7B;
  font-weight:600;
  color:white;
}

.masthead img{
  width:150px;
  height:150px;
}

.newsletter{
  text-align:center;
}

.img-bordered{
  padding:5px;
  border:1px solid #eee;
}

.img-rounded{
  border-radius:50%;
}

input {
  display:inline-block;
  width:auto;
  margin-bottom:1rem;
  padding:.5rem;
  border:1px solid #ddd;
  color:#555;
}

.button {
  text-align:center;
  display:inline-block;
  background:#fff;
  color:#cee1c7;
  border:2px solid #dff0d8;
  font-family:"Source Sans Pro";
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  font-size:1.4rem;
  padding:.6rem 1rem;
}

.masthead {
  text-align:center;
  font-weight:700;
}

nav[role="navigation"] ul,
nav[role="subnavigation"] ul {
  list-style:none;
  padding:0;
  margin:0;
}

nav[role="navigation"] li,
nav[role="subnavigation"] li {
  display: inline-block;
  margin-right:7px;
}

nav[role="navigation"] li:last-child,
nav[role="subnavigation"] li:last-child {
  padding-right:0;
}

nav[role="navigation"] li a {
  color:#fff;
}

nav[role="navigation"] li.active a:hover {
  text-decoration:none;
}

header.content-header{
  text-align:center;
  margin-bottom:4rem;
}

header.content-header h1{
  margin-bottom: 0;
}

header.content-header time {
  color:#999;
}

header.content-header h2{
  margin-top: 0;
  margin-bottom:1rem;
  color:#999;
}

.Library header.content-header p{
  margin:0;
}

.article {
}

.masthead{
  padding:4rem 0;
  border-bottom:1px dotted #eaeaea;
}

footer[role="site-footer"] {
  font-size:1.4rem;
  color:#666;
  text-align:center;
  padding:4rem 0;
}

footer[role="site-footer"] p{
  margin:0;
}

p.tagline{
  letter-spacing:2px;
  text-transform:uppercase;
}

.rings{
  padding:1rem 0;
  text-align:center;
}

a.link-twitter{color:#55acee;}
a.link-facebook{color:#3B5998;}
a.link-github{color:#333333;}
a.link-youtube{color:#CD332D;}
a.link-treehouse{color:#80A34C;}
a.link-instagram{color:#517FA4;}
.emphasis{
  text-transform:uppercase;
  letter-spacing:2px;
}

@media (min-width: 992px) {


  header[role="banner"] {
    display:-webkit-flex;
    display:flex;
    -webkit-align-items:center;
    align-items:center;
    padding:1rem 2rem;
  }

  header[role="banner"] h1 {
    -webkit-flex:1;
    flex:1;
    text-align:left;
  }

  header[role="banner"] nav {
    -webkit-flex:1;
    flex:1;
    text-align:right;
  }


  footer[role="site-footer"] {
    text-align:center;
  }

  .Library header.content-header{
    display:-webkit-flex;
    display:flex;
    text-align:left;
  }

  .Library header.content-header div{
    -webkit-order:2;
    order:2;
  }

  .Library header.content-header figure{
    margin-right:2rem;
  }

  .book-notes{
    font-size:1.4rem;
    color:#888;
  }

  .book-notes a{
    color:#333;
  }

  .book-notes > section{
    border-bottom:1px solid #eee;
    margin-bottom:4rem;
    padding-bottom:4rem;
  }

  .newsletter {
    text-align:left;
  }


}
