* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html{
  font-size:62.5%;
}

body{
  font-size:20px;
  font-size:2rem;
  font-family:"ff-meta-serif-web-pro", serif;
  color:#444;
  line-height:1.6;
  /* border-top:10px solid #f1f1f1; */
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  font-weight: normal;
}

a{
  color:#A73D37;
  transition: color .5s ease;
  text-decoration:none;
}

a:hover{
	color:#000;
  text-decoration:underline;
}

.essay .content-body > p:first-child:first-line{
  font-family: "ff-meta-serif-sc-web-pro";
}

.entry-content h3{
  font-style: italic;
  font-weight:normal;
}

img{
  max-width:100%;
}

blockquote{
  font-style:italic;
  color:#666;
  border-left:2px solid #eee;
  margin-left:0;
  padding-left:2rem;
}

figure{
  margin:2rem 0;
}

figcaption{
  font-size:14px;
  color:#999;
  text-align:center;
}

mark{
	background:rgba(248,231,28,.20);
}

.footnotes{
  color:#666;
  font-size:14px;
  font-size:1.4rem;
}

.container{
  width:90%;
  max-width:90rem;
  margin: 0 auto;
}

main{
  margin: 4rem 0;
}

header[role="banner"] {
  padding:4rem 0;
  text-align:center;
  font-size:1.6rem;
  margin-bottom:2rem;
}

header[role="banner"] p {
  margin:0;
}

.newsletter{
  text-align:center;
}

.img-bordered{
  padding:5px;
  border:1px solid #eee;
}

input {
  display:inline-block;
  width:auto;
  margin-bottom:1rem;
  padding:.5rem;
  border:1px solid #ddd;
  color:#555;
}

.button {
  text-align:center;
  display:inline-block;
  background:#fff;
  color:#cee1c7;
  border:2px solid #dff0d8;
  font-family:"Source Sans Pro";
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  font-size:1.4rem;
  padding:.6rem 1rem;
}

.headshot img:hover{
  background:#f3f3f3;
}

nav[role="navigation"] ul,
nav[role="subnavigation"] ul {
  list-style:none;
  padding:0;
  margin:0;
  font-style:italic;
}

nav[role="navigation"] li,
nav[role="subnavigation"] li {
  display: inline-block;
  margin-right:7px;
}

nav[role="navigation"] li:last-child,
nav[role="subnavigation"] li:last-child {
  padding-right:0;
}

nav[role="navigation"] li.active a {
  color:#222;
  cursor:normal;
}

nav[role="navigation"] li.active a:hover {
  text-decoration:none;
}

header.content-header{
  text-align:center;
  margin-bottom:4rem;
}

header.content-header h1{
  margin-bottom: 0;
}

header.content-header time {
  color:#999;
}

header.content-header h2{
  margin-top: 0;
  margin-bottom:1rem;
  color:#999;
}

.article {
}

.introduction{
  padding:4rem 0;
  border-bottom:1px dotted #eaeaea;
}

footer[role="site-footer"] {
  font-size:1.4rem;
  color:#666;
  text-align:center;
}

footer[role="site-footer"] p{
  margin:0;
}

.rings{
  padding:1rem 0;
  text-align:center;
}

a.link-twitter{color:#55acee;}
a.link-facebook{color:#3B5998;}
a.link-github{color:#333333;}
a.link-youtube{color:#CD332D;}
a.link-treehouse{color:#80A34C;}
a.link-instagram{color:#517FA4;}

@media (min-width: 992px) {

  body {
    font-size:16px;
    font-size:1.6rem;
  }

  header[role="banner"] .container {
    display:-webkit-flex;
    display:flex;
    text-align:left;
    -webkit-align-items:center;
    align-items:center;
  }

  header[role="banner"] img {
    display:block;
  }

  .headshot {
    margin-right:1rem;
  }

  footer[role="site-footer"] {
    text-align:left;
  }
}

/* =============================================================

	Labels v1.0
	Lightweight CSS labels by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */
.label {
  font-size: 1.2rem;
  font-family: "Source Sans Pro";
  color: white;
  background-color: #0088cc;
  font-weight: bold;
  padding: .2rem;
  border-radius: 2px;
  text-transform:lowercase;
}

.label-success {
  background-color: #377f31;
}

.label-danger {
  background-color: #880e14;
}

.label-warning {
  background-color: #dba909;
}
