// Color Palette
$color-background: #ffffff;
$color-text: #333;
$color-headings: #222222;
$color-links: #1496bb;
$color-borders: #ededed;
$color-muted: #999999;
$color-code: #c7254e;

// Fonts
$serif: "freight-text-pro","ff-tisa-web-pro", Georgia, serif;
$sans: "omnes-pro", helvetica;
$code: "source-code-pro", "Courier New", monospace;

// Container
$container-width: 90%;
$container-max-width: 720px;
$container-hd-max-width: 950px;

// Font Sizing
$base-font-size: 1.6rem;

// Breakpoints
$bp-mobile: 400px;
$bp-phablet: 600px;
$bp-tablet: 750px;
$bp-desktop: 1000px;
$bp-hd: 1200px;
