// Color Palette
$color-background: #ffffff;
$color-header: #2c3e50;
$color-header-links:#7f8c8d;
$color-text: #333;
$color-headings: #222222;
$color-links: #2980b9;
$color-borders: #ededed;
$color-muted: #999999;
$color-code: #c7254e;

// Social Colors
$color-youtube: #b31217;
$color-instagram: #3f729b;
$color-github: #4183c4;
$color-twitter: #55acee;
$color-goodreads: #553b08;

// Fonts
$sans: "source-code-pro", "Courier New", monospace;
$serif: "ff-tisa-web-pro", Georgia, serif;

// Container
$container-width: 90%;
$container-max-width: 650px;

// Font Sizing
$base-font-size: 1.6rem;

// Breakpoints
$bp-mobile: 400px;
$bp-phablet: 600px;
$bp-tablet: 750px;
$bp-desktop: 1000px;
$bp-hd: 1200px;
