// Colors
$color-background: #ffffff;
$color-text: #333;
$color-headings: #222;
$color-links: #4682b4;
$color-borders: #ededed;
$color-muted: #888; // base this on color text
$color-code: #c7254e;
$color-alt: #cd3e01;

// Social Colors
$color-youtube: #b31217;
$color-instagram: #3f729b;
$color-github: #4183c4;
$color-twitter: #55acee;
$color-tumblr: #35465c;
$color-amazon: #ff9900;

// Fonts
$font-serif: Georgia, serif;
$font-sans: "omnes-pro", "source-sans-pro", helvetica;
$font-code: "source-code-pro", "Courier New", monospace;

$font-family-text: $font-serif;
$font-family-display: $font-sans;
$font-family-code: $font-code;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

// Container
$container-width: 90%;
$container-max-width: 700px;
$container-hd-max-width: 950px;

// Font Sizing
$base-font-size: 1.8rem;

// Breakpoints
$bp-mobile: 400px;
$bp-phablet: 600px;
$bp-tablet: 750px;
$bp-desktop: 1000px;
$bp-hd: 1200px;
