footer[role="site-footer"] {
  font-family: $font-sans;
  text-transform: uppercase;
  letter-spacing:1px;
  padding:2rem 0;
  font-size:1.3rem;
  color:$color-muted;
  text-align:center;
  p {
    margin:0;
    margin-bottom:1rem;
  }
}
