.navbar {
  padding:1rem 0;
  background: rgba(0,0,0,.95);
  font-size: 1.2rem;
  text-align:center;
  border-bottom: 1px solid $color-borders;
  width:100%;
  font-weight:400;
  font-family: "muli";
  text-transform: uppercase;
  nav {
    padding: .8rem 0;
    @include inline-navigation(1.5rem);
    text-align:left;
    @media(min-width: $md) { text-align:left;}
    a {
      color:white;
      text-decoration:none;
      &:hover {
        text-decoration:underline;
      }
    }
  }
}
