header[role="banner"]{
  font-size:1.4rem;
  background: rgba(0,0,0,.8);
  width:100%;
  padding:.3rem 0;
  margin-bottom:4rem;
  div {
    @include flexbox;
    -webkit-align-items:center;
  }
  img {
    margin-right:1rem;
    width:38px;
    height:38px;
    padding:2px;
    background:rgba(255,255,255,.05);
  }
  nav {
    @include inline-navigation(1.6rem);
    a{
      font-weight:600;
      color:white;
      text-decoration: none;
      text-transform: uppercase;
      font-size:1.3rem;
      letter-spacing: 1px;
      &:hover {
        color: rgba(255,255,255,.5);
      }
    }
  }
}
