
{% include 'includes/reading_time' %}
{% capture content %}
<h1>{{title}}</h1>
{{ body }}

{% for post in posts %}
<article class="post-preview">
  <header class="content-header">
    <h1><a href="{{post.url}}">{{post.title}}</a></h1>
    <p class="meta">
      <time class="entry-date" datetime=""><a href="{{post.url}}">{{ post.date | date: "%B %d, %Y"}}</a></time>
      <span class="category">
        {% for tag in post.taxonomy.tags %}
        <a href="{{ tag.url }}">{{ tag.value }}</a>
        {% endfor %}
      </span>
      <span class="reading-time">{{ post.reading_time }}</span>
    </p>
  </header>
   {% unless type == 'archive' %}
     {{post.body | strip_html | truncatewords: 100}}
    <p><a href="{{post.url}}">Continue Reading &rarr;</a>
   {% endunless %}
 </article>
{% endfor %}

{% endcapture %}

{% include 'layouts/default' %}
