.alert {
  font-size:1.4rem;
  text-align: center;
  background-color: #fff;
  padding: 0 2rem;
  border: 1px solid $color-gray;
  a {
    color: darken($color-gray, 35%);
    text-decoration: underline;
  }
}