.img {
  border: 1px solid $color-borders;
  padding:4px;
  background: $white; 
}

// Gives the photo a little depth
.img-photo{
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

// Rounds square images
.img-rounded{
  @include border-radius(50%);
}