table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: $font-family-display;
  @include rem(font-size, 1.4);
}

th,
td {
  text-align:left;
  padding: 8px;
}

.table-condensed th,
.table-condensed td {
  padding: 3px;
}

th {
  background-color: $color-borders;
  font-weight:bold;
  vertical-align:bottom;
}

td {
  border-top: 1px solid lighten($color-borders, 3%);
  vertical-align: top;
}

tbody tr:nth-child(even) {
  background-color: white;
}
