{% capture content %}

{% if meta.alert %}
  <div class="alert">{{ meta.alert | markdown }}</div>
{% endif %}

<div class="intro">
  <img src="/assets/headshot.jpg" class="headshot img-photo" width="125" alt="Headshot of Kyle Tress">
  <div>{{body}}</div>
</div>

{% if assets.first.meta.type == 'featured' %}
<figure class="mast">
  <img src="{{assets.first.url}}" alt="assets.first.meta.caption" class="img-bordered">
  <figcaption>{{assets.first.meta.caption}}</figcaption>
</figure>
{% endif %}

{% include 'includes/tweets' %}


{% for post in site.pages.blog.posts | limit: 1 %}
<article class="essay">
  <header class="content-header">
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  </header>
  <div class="content-body">
    {{ post.body }}
  </div>
</article>
{% endfor %}

{% endcapture %}

{% include 'layouts/default' %}
