{% capture content %}

<div class="masthead">
  <div>
    <img src="/assets/headshot.jpg" class="headshot img-bordered" alt="" width="125">
  </div>
  <div>
    {{ body }}
  </div>
</div>

{% if assets.first.meta.type == 'featured' %}
<figure class="mast">
  <img src="{{assets.first.url}}" alt="assets.first.meta.caption" class="img-bordered">
  <figcaption>{{assets.first.meta.caption}}</figcaption>
</figure>
{% endif %}

{% for post in posts | limit: 1 %}
<section>
  <h1>{{ post.title }}</h1>
  {{ post.body }}
</section>
{% endfor %}

<a href="#">All my updates &rarr;</a>

{% endcapture %}

{% include 'layouts/default' %}
