{% capture content %}

<div class="grid grid-bordered">
  <div class="col-1-4">
    <h2>Essays</h2>
    <dl class="dl">
    {% for post in site.pages.essays.posts %}
    <dt><a href="{{post.url}}">{{ post.title }}</a></dt>
    <dd>{{ post.date | date: '%b %m %Y' }}</dd>
    {% endfor %}
    </dl>
  </div>
  <div class="col-1-4"><h2>Library</h2>
  <dl class="dl">
  {% for post in site.pages.library.posts %}
  <dt><a href="{{post.url}}">{{ post.title }}</a></dt>
  <dd>{{ post.taxonomy.author.first.value }}</dd>
  {% endfor %}
  </dl>
      </div>
  <div class="col-1-4"><h2>Projects</h2>
    <ul>
  {% for post in site.pages.portfolio.posts %}
  <li><a href="{{post.url}}">{{post.title}}</a></li>
  {% endfor %}
</ul>
  </div>
  <div class="col-1-4"><h2>Results</h2>
    <dl class="dl">
      <dt>2013/2014</dt>
      {% for post in site.pages.skeleton.pages.results.pages.2013-2014.posts %}
      <dd><a href="{{post.url}}">{{ post.title }}</a> &mdash; {{post.meta.position}}</dd>
      {% endfor %}
    </dl>
  </div>
</div>

{% endcapture %}

{% include 'layouts/default' %}
