// Color Palette
$alabaster: #fafafa;
$calypso:#31728D;
$dove-gray:#6D6C6C;
$gallery: #efefef;
$mineshaft: #222222;
$tundora: #4A4244;
$cod-gray:#0B0B0B;
$white: #ffffff;
$olympic-blue: #0885C2;
$olympic-red: #ED334E;
$olympic-yellow: #FBB132;
$olympic-green: #1C8B3C;
$olympic-black: #1a1a1a;

// Apple Colors
$apple-green: #4BCB50; 
$apple-yellow:#FFC500;
$apple-orange:#F58900;
$apple-red:#FC383B;
$apple-purple:#B740AD;
$apple-blue:#00AFEB;

// Theme Colors
$color-text: #585c54;
$color-headings: $mineshaft;
$color-primary:$calypso; // used for links, buttons, solid headers if used
$color-background:$alabaster;
$color-borders: $gallery;
$color-muted: $dove-gray;

// Fonts
$font-serif: "ff-meta-serif-web-pro", Georgia, serif;
$font-sans: "Roboto", "Helvetica Neue", Arial, sans-serif;

// Container
$container-margin: 80%;
$container-width: 70rem;

// Breakpoints
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-screen: 990px;
$bp-desktop: 1200px;
  
// Spacing
$spacing: 20px;