.rings {
  text-align:center;
}

.faqs {
  dt {
    margin-bottom:0;
  }
  dd {
    margin-left:0;
    margin-bottom: 4rem;
    p {
      margin-top:0;
    }
  }
}


a[href*="www.twitter.com"]:hover { color: $color-twitter; }
a[href*="tumblr.kyletress.com"]:hover { color: $color-tumblr; }
a[href*="www.instagram.com"]:hover { color: $color-instagram; }
a[href*="www.github.com"]:hover { color: $color-github; }
a[href*="www.amazon.com"]:hover { color: $color-amazon; }
