.rings {
  text-align:center;
}

.center {
  text-align:center;
}

.flex {
  @include flexbox;
  .content{
    -webkit-flex: 1;
    padding-left:1rem;
  }
  .photos {
    -webkit-flex: 1;
  }
}

.book{
  h4{
    margin-bottom:0;
    font-weight:$font-weight-normal;
    a {
      font-weight: $font-weight-bold;
    }
  }
  p{
    margin-top:0;
  }
}

.faqs{
  dt {
    margin-bottom:0;
  }
  dd {
    margin-left:0;
    margin-bottom: 4rem;
    p {
      margin-top:0;
    }
  }
}

.page-header{
  text-align:center;
  @media(min-width: $md) {
    text-align:left;
  }
}

.introduction {
  text-align:center;
  @media(min-width: $xs){
    @include flexbox;
    @include align-items(flex-start);
    padding: 2rem 0;
    text-align:left;
    p {
      @include flex(1);
      margin:0;
    }
    .headshot {
      margin-right:1rem;
    }
  }
}

.book{
  h4{
    font-family: $font-serif;
    margin-bottom:0;
    font-weight:$font-weight-normal;
    font-style:italic;
    a {
      font-weight: $font-weight-bold;
      font-style:normal;
    }
  }
  p{
    margin-top:0;
  }
}

.center {
  text-align:center;
}

.reading-list{
  font-size: 1.4rem;
  ul {
    list-style:none;
    padding-left: 0;
  }
  li {
    margin:1rem 0;
  }
}

.book-notes{
  font-size:1.2rem;
}


a[href*="www.twitter.com"]:hover { color: $color-twitter; }
a[href*="tumblr.kyletress.com"]:hover { color: $color-tumblr; }
a[href*="www.instagram.com"]:hover { color: $color-instagram; }
a[href*="www.github.com"]:hover { color: $color-github; }
a[href*="www.amazon.com"]:hover { color: $color-amazon; }
