.rings {
  text-align:center;
}

.center {
  text-align:center;
}

.flex {
  @include flexbox;
  .content{
    -webkit-flex: 1;
    padding-left:1rem;
  }
  .photos {
    -webkit-flex: 1;
  }
}

.book{
  h4{
    margin-bottom:0;
    font-weight:$font-weight-normal;
    a {
      font-weight: $font-weight-bold;
    }
  }
  p{
    margin-top:0;
  }
}

.faqs{
  dt {
    margin-bottom:0;
  }
  dd {
    margin-left:0;
    margin-bottom: 4rem;
    p {
      margin-top:0;
    }
  }
}

.page-header{
  text-align:center;
  @media(min-width: $md) {
    text-align:left;
  }
}

.introduction {
  text-align:center;
  @media(min-width: $xs){
    @include flexbox;
    @include align-items(flex-start);
    padding: 2rem 0;
    text-align:left;
    p {
      @include flex(1);
      margin:0;
    }
    .headshot {
      margin-right:1rem;
    }
  }
}

.book{
  h4{
    font-family: $font-serif;
    margin-bottom:0;
    font-weight:$font-weight-normal;
    font-style:italic;
    a {
      font-weight: $font-weight-bold;
      font-style:normal;
    }
  }
  p{
    margin-top:0;
  }
}

.center {
  text-align:center;
}

.reading-list{
  font-size: 1.4rem;
  ul {
    list-style:none;
    padding-left: 0;
  }
  li {
    margin:1rem 0;
  }
}

.book-notes{
  font-size:1.2rem;
}

// Photo credit text
img + em {
  color: $color-muted;
  text-align:right;
  display:block;
  font-size:1.2rem;
  font-style:normal;
  a {
    color:darken($color-muted, 15%);
    text-decoration:none;
  }
}

progress[value] {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border:none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25));

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-moz-progress-bar {
  background-image:
  -moz-linear-gradient(
    135deg,
    transparent 33%,
    rgba(0, 0, 0, 0.1) 33%,
    rgba(0, 0, 0, 0.1) 66%,
    transparent 66%
  ),
  -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0.25),
    rgba(0, 0, 0, 0.25)
  );
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.progress-label {
  color: $color-muted;
  font-size:1.2rem;
  font-style:italic;
}

a[href*="www.twitter.com"]:hover { color: $color-twitter; }
a[href*="tumblr.kyletress.com"]:hover { color: $color-tumblr; }
a[href*="www.instagram.com"]:hover { color: $color-instagram; }
a[href*="www.github.com"]:hover { color: $color-github; }
a[href*="www.amazon.com"]:hover { color: $color-amazon; }
