*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  font-size:62.5%;
}

body{
  background: $color-background;
  -webkit-font-smoothing:subpixel-antialiased;
  font: {
    size: $base-font-size * .9;
    family: $font-serif;
  }
  color:$color-text;
  line-height:1.6;
  @media screen and (min-width: $bp-tablet) {
    font-size:$base-font-size;
  }
}

.container{
  width:$container-width;
  max-width:$container-max-width;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color:$color-headings;
}

a {
  color:$color-links;
  transition: color .3s ease;
  text-decoration:none;

  &:hover {
    color: darken($color-links, 15%);
    text-decoration: underline;
  }
}

p.lead {
  font-size:2.1rem;
  font-weight:300;
}

blockquote {
  font-style:italic;
  font-size:$base-font-size * .9;
  color: lighten($color-text, 30%);
  border-left: 1px solid $color-borders;
  margin-left:0;
  padding-left:2rem;
}

figure{
  margin:2rem 0;
}

figcaption{
  font-size:$base-font-size * .8;
  color:$color-muted;
  text-align:left;
}

mark{
  background:rgba(248,231,28,.20);
}

img{
  max-width:100%;
  height: auto;
}

hr {
  border: 0;
  height: 1px;
  background:#eee;
}

pre {
  font-weight: 500;
  background-color: lighten($color-borders, 5%);
  padding: 2.4rem;
  -webkit-white-space: pre-wrap;
  -ms-white-space: pre-wrap;
  -moz-white-space: pre-wrap;
  -o-white-space: pre-wrap;
  white-space: pre-wrap;
  border-radius: 3px;
  code{
    background-color:inherit;
    font-weight: 500;
  }
}
/* line 73, ../sass/_text.sass */
pre code {
  color: $color-muted;
}

code {
  font-family: $font-sans;
  padding: 2px 4px;
  font-size: 1.4rem;
  color: $color-code;
  //white-space: nowrap;
  background-color: #f9f2f4;
}

.dl {
  margin-left:1rem;
  p {
    margin-bottom:0;
  }
  dd {
    padding:0;
    margin:0;
    &.meta {
      font-size:1.2rem;
      font-style:italic;
      color:$color-muted;
    }
  }
}
