*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html{
  font-size:62.5%;
}

body{
  background: $color-background;
  -webkit-font-smoothing:subpixel-antialiased;
  font: {
    @include font-size(16px);
    family: $font-serif;
  }
  color:$color-text;
  line-height:1.6;
}

.container{
  width:$container-margin;
  max-width:$container-width;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color:$color-headings;
}

a {
  color:$color-primary;
  transition: color .5s ease;
  text-decoration:none;

  &:hover {
    color: darken($color-primary, 25%);
    text-decoration: underline;
  }
}

blockquote{
  font-style:italic;
  color: lighten($color-text, 30%);
  border-left:2px solid $color-borders;
  margin-left:0;
  padding-left:2rem;
}

figure{
  margin:2rem 0;
}

figcaption{
  @include font-size(14px);
  color:$color-muted;
  text-align:center;
}

mark{
  background:rgba(248,231,28,.20);
}

img{
  max-width:100%;
  height: auto;
}

.dl {
  margin-left:1rem;
  p {
    margin-bottom:0;
  }
  dd {
    padding:0;
    margin:0;
    &.meta {
      font-size:1.2rem;
      font-style:italic;
      color:$dove-gray;
    }
  }
}