*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html{
  font-size:62.5%;
}

body{
  padding-top:7rem;
  background: $color-background;
  -webkit-font-smoothing:subpixel-antialiased;
  font: {
    @include font-size(16px);
    family: $font-serif;
  }
  color:$color-text;
  line-height:1.7;
  @media screen and (min-width: $bp-tablet) {
    font-size:1.8rem;
  }
}

.container{
  width:$container-width;
  max-width:$container-max-width;
  margin: 0 auto;
}

.section {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color:$color-headings;
}

h1 {
  font-weight:300;
}

a {
  color:$color-links;
  transition: color .5s ease;
  text-decoration:none;

  &:hover {
    color: darken($color-links, 25%);
    text-decoration: underline;
  }
}

blockquote{
  font-style:italic;
  font-weight:300;
  font-size:1.6rem;
  color: lighten($color-text, 30%);
  margin-left:0;
  padding-left:2rem;
}

figure{
  margin:2rem 0;
}

figcaption{
  font-size:1.4rem;
  color:$color-muted;
  text-align:center;
}

mark{
  background:rgba(248,231,28,.20);
}

img{
  max-width:100%;
  height: auto;
}

hr {
  border: 0;
  height: 1px;
  background:#eee;
}

/* line 68, ../sass/_text.sass */
pre {
  background-color: rgba(231, 232, 231, 0.5);
  padding: 2.4rem;
  -webkit-white-space: pre-wrap;
  -ms-white-space: pre-wrap;
  -moz-white-space: pre-wrap;
  -o-white-space: pre-wrap;
  white-space: pre-wrap;
  border-radius: 3px;
}
/* line 73, ../sass/_text.sass */
pre code {
  color: #585c54;
}

/* line 76, ../sass/_text.sass */
code {
  font-family: $font-sans;
  color: #f31308;
  padding: 3px 3px 1px 3px;
  display: inline-block;
  line-height: 1;
  background: #f6f6f6;
  border: 1px solid #ddd;
}

.dl {
  margin-left:1rem;
  p {
    margin-bottom:0;
  }
  dd {
    padding:0;
    margin:0;
    &.meta {
      font-size:1.2rem;
      font-style:italic;
      color:$color-muted;
    }
  }
}
