.media{
  @include flexbox;
  -webkit-align-items:center;
  -moz-align-items:center;
  -ms-align-items:center;
  -o-align-items:center;
  align-items:center;
}

.media__item{
  padding-right:1rem;
}

.media__body{
  flex:1;
  -webkit-flex:1;
}

.introduction {
  .media__body {
  }
}

.content-header {
  text-align:center;
  margin: 3rem 0;
  h1, h2 {
    margin:0;
  }
  p.meta {
    color: $color-muted;
    margin:0;
    a{
      color: $color-muted;
    }
  }
  .category:before,
  .reading-time:before {
    content: "\00a0\2022\00a0";
    color: inherit;
  }

}

main {
}

.faqs {
  dt {
    font-weight:bold;
  }
  dd {
    margin-left:0;
    margin-bottom: 4rem;
  }
}

.footnotes {
  font-size:1.4rem;
}

.headshot{
  float:left;
  margin-right:2rem;
}


#mailchimp{
  background:$color-borders;
  padding:2.5rem 2rem;
  border: 1px solid darken($color-borders, 10%);
  p{
    margin-top:0;
    font-size:1.5rem;
    color:lighten($color-muted, 10%);
  }
}

.mailchimp{
  display:-webkit-flex;
  display:flex;
  -webkit-align-items:center;
  align-items:center;
  label{
    margin-right:1rem;
    color:$color-muted;
    font-size:1.6rem;
  }
  input[type="email"] {
    -webkit-flex-grow: 1;
    flex-grow:1;
    margin-right:1rem;
    padding: .5rem;
  }
  .button{
    background:$color-links;
    color:white;
    text-transform:uppercase;
    letter-spacing:1px;
    font-size:1.4rem;
    font-family:$font-sans;
    border:none;
    padding:.5rem 1rem;
    border-radius:.3rem;
  }
}

.flex{
  display: -webkit-flex;
  display:flex;
  -webkit-align-items:center;
  align-items:center;

}
