.introduction {
  @media screen and (min-width: $bp-phablet) {
    @include flexbox;
    figure {
      width:50%;
      padding-right:1rem;
    }
    div {
      padding-left:1rem;
      width:50%;
      -webkit-flex:1;
      flex:1;
    }
  }
}

.recent-posts{
  article {
    width:100%;
    time {
      color:$color-muted;
      font-style:italic;
    }
  }
  @media screen and (min-width: $bp-phablet) {
    @include flexbox;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    article {
      width:32%;
      time {
        display:block;
      }
    }
  }

}

.essay {
  max-width:700px;
  margin:0 auto;
}

.content-header {
  text-align:center;
  h1, h2 {
    margin:0;
    a {
      color:$color-headings;
    }
  }
  p.meta {
    color: $color-muted;
    margin:0;
    a{
      color: $color-muted;
    }
  }
  .category:before,
  .reading-time:before {
    content: "\00a0\2022\00a0";
    color: inherit;
  }

}

main {
  padding:3rem 0;
}

.faqs {
  dt {
    font-weight:bold;
  }
  dd {
    margin-left:0;
    margin-bottom: 4rem;
  }
}

.footnotes {
  font-size:1.4rem;
}

.tinyletter {
  @include flexbox;
  -webkit-align-items:center;
  align-items:center;
  margin-left:0;
  input[type="email"] {
    -webkit-flex-grow: 1;
    flex-grow:1;
    margin-right:0;
    padding: .5rem;
    border:1px solid $color-borders;
    border-right:none;
  }
  .button{
    background: lighten($color-borders, 5%);
    text-transform:uppercase;
    font-size:1.4rem;
    font-family:$sans;
    border:1px solid $color-borders;
    padding:.7rem 1.5rem;
    &:hover{
      background-color:$color-links;
      color:white;
    }
  }
}

.project-list{
  @media screen and (min-width: $bp-phablet) {
    @include flexbox;
    -webkit-flex-wrap: wrap;
    flex-wrap:wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}

.project{
  background:$color-borders;
  width:100%;
  padding:1rem;
  @media screen and (min-width: $bp-phablet) {
    width: 49%;
  }
  @media screen and (min-width: $bp-desktop) {
    width: 32%;
  }
}
