footer[role="site-footer"] {
  font-size:1.2rem;
  color:#656464;
  padding:4rem 0;
  text-align:center;
  @media (min-width: 620px) {
    text-align:left;
  }
  p{
    margin:0;
  }
  max-width:700px;
  margin: 0 auto;
}

p.tagline{
  color:#999;
  margin:.5rem 0;
}