footer[role="site-footer"] {
  padding:2rem 0;
  line-height:1.5;
  font-size:$base-font-size * .8;
  color:$color-muted;
  text-align:center;
  @media screen and (min-width: $bp-phablet) {
    div {
      @include flexbox;
      -webkit-align-items:center;
      align-items:center;
      text-align:left;
      nav{
        -webkit-order:2;
        order:2;
      }
      p {
        -webkit-flex:1;
        flex:1;
      }
    }
  }
  p {margin:0;}
}
