footer[role="site-footer"] {
  font-family: $alt;
  text-transform:uppercase;
  @include container;
  padding:2rem 0;
  line-height:1.5;
  font-size:$base-font-size * .9;
  color:$color-muted;
  text-align:center;
  p {
    margin-bottom:0;
  }
  @media screen and (min-width: $bp-phablet) {
    text-align:left;
  }
  nav {
    @include inline-navigation(1rem);
    a {
      color: $color-muted;
      text-decoration:underline;
      &:hover {
        color: darken($color-muted, 25%);
      }
    }
  }
}
