header[role="banner"]{
  width:100%;
  padding: 1rem 0;
  text-align:center;
  font-size:1.5rem;
  border-bottom:1px solid $color-borders;

  h1 {
    font-size:1.8rem;
    padding:0;
    margin:0;
    font-weight:400;
    a{
      color: $color-headings;
    }
  }

  @media screen and (min-width: $bp-mobile) {
    @include container;
    @include flexbox;
    text-align:left;
    -webkit-align-items:center;
    align-items:center;
  }
}
