body {
  padding-top: 5.8rem;
}

header[role="banner"] {
  @include rem(padding-bottom, 1.5);
  background:rgba($color-background, .95);
  width:100%;
  position:fixed;
  top:0;
  text-align:center;
  clear:left;
  border-bottom: 1px solid $color-borders;
}

.olympic-bars {
  list-style:none;
  margin:0;
  padding:0;
  padding-bottom:2rem;
}

.olympic-bars-bar {
  float:left;
  width:20%;
  @include rem(height, .5rem);
  background:blue;
}

@each $child, $color in (1: $olympic-blue, 2: $olympic-yellow, 3: $olympic-black, 4: $olympic-green, 5: $olympic-red) {
  .olympic-bars-bar:nth-child(#{$child}) {
    background: $color;
  }
}
