.navigation {
  @include inline-navigation(1.6rem);
  margin: 0 auto;
  font-size:1.4rem;
    a {
      color:$color-black;
        &.branding {
          font-weight:bold;
        }
    }
}

nav[role="social-links"] {
  @include inline-navigation(1rem);
}