.navigation {
  @include inline-navigation(1.6rem);
  margin: 0 auto;
  max-width:700px;
  color: $color-text;
  a {
    color: #9b9b9b;
    &.selected {
    }
    &.brand {
      color: white;
      font-weight:700;
    }
  }
}