<footer role="site-footer">
  <div class="rings"><img src="/assets/rings4.svg" width="64"></div>
  <nav>
    <p>&copy; 2007 &ndash; {{ site.time | date: '%Y' }} Kyle Tress. {{ site.meta.quote }}</p>
    <ul>
      <li><a href="http://www.twitter.com/kyletress">Twitter</a></li>
      <li><a href="http://www.instagram.com/kyletress">Instagram</a></li>
      <li><a href="http://www.github.com/kyletress">GitHub</a></li>
      <li><a href="mailto:kyle@kyletress.com">Email</a></li>
    </ul>
  </nav>
</footer>
