<footer role="site-footer">
  <p>&copy; 2007 &ndash; {{ site.time | date: '%Y' }} Kyle Tress. {{ site.meta.quote }}.</p>
  <nav>
    <ul>
      <li><a href="http://www.twitter.com/kyletress">Twitter</a></li>
      <li><a href="http://www.instagram.com/kyletress">Instagram</a></li>
      <li><a href="http://www.github.com/kyletress">GitHub</a></li>
      <li><a href="http://tumblr.kyletress.com">Tumblr</a></li>
      <li><a href="mailto:kyle@kyletress.com">Email</a></li>
    </ul>
  </nav>
</footer>
