<header role="banner">
  <ul class="olympic-bars">
    <li class="olympic-bars-bar"></li>
    <li class="olympic-bars-bar"></li>
    <li class="olympic-bars-bar"></li>
    <li class="olympic-bars-bar"></li>
    <li class="olympic-bars-bar"></li>
  </ul>
  <nav class="navigation container">
    <ul>
      <li><a href="/" class="branding">kyletress.com</a></li>
      {% for page in site.pages %}
      <li><a href="{{page.url}}">{{page.title}}</a></li>
      {% endfor %}
      <li><a class="link-twitter" href="http://www.twitter.com/kyletress">@kyletress</a></li>
    </ul>
  </nav>
</header>