<header role="banner">
  <img src="/assets/headshot.png" width="65" height="65" alt="" class="img-rounded">
  <nav class="navigation">
    <p>DEVELOPMENT &mdash; Olympian. Writer. Developer.</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/skeleton">Skeleton</a></li>
      <li><a href="/reading">Reading</a></li>
      <li><a href="/projects">work</a></li>
      <li><a href="/newsletter">Newsletter</a></li>
    </ul>
  </nav>
</header>
