<header role="banner">
  <ul class="olympic-bars">
    <li class="olympic-bars-bar"></li>
    <li class="olympic-bars-bar"></li>
    <li class="olympic-bars-bar"></li>
    <li class="olympic-bars-bar"></li>
    <li class="olympic-bars-bar"></li>
  </ul>
  <nav class="navigation container">
    <ul>
      <li><a href="/" class="branding">kyletress.com</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/blog">blog</a></li>
      <li><a href="/skeleton">skeleton</a></li>
      <li><a href="/reading">reading</a></li>
      <li><a class="link-twitter" href="http://www.twitter.com/kyletress">@kyletress</a></li>
    </ul>
  </nav>
</header>