<div class="newsletter hero">
  Sign up for my free weekly newsletter to get the best of kyletress.com in your inbox.
  <form action="https://tinyletter.com/kyletress" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/kyletress', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <input type="text" name="email" id="tlemail" placeholder="email address" />
    <input type="hidden" value="1" name="embed"/>
    <input type="submit" value="Subscribe" class="btn" />
  </form>
</div><!--end newsletter form -->
