<p><a href="mailto:{{site.meta.email}}">{{site.meta.email}}</a>
<a class="link-twitter" href="http://www.twitter.com/{{site.meta.twitter-username}}">twitter</a>
<a class="link-facebook" href="http://www.facebook.com/{{site.meta.facebook-username}}">facebook</a>
<a class="link-youtube" href="http://www.youtube.com/{{site.meta.youtube-username}}">youtube</a>
<a class="link-github" href="http://www.github.com/{{site.meta.github-username}}">github</a>
<a class="link-treehouse" href="http://www.teamtreehouse.com/{{site.meta.treehouse-username}}">treehouse</a>
<a class="link-instagram" href="http://www.instagram.com/{{site.meta.instagram-username}}">instragram</a>
<a href="/credits">credits</a>
<a href="http://www.github.com/kyletress/kyletress.com">source</a>
</p>
