<p><strong>Contact me:</strong> <a href="mailto:kyle@kyletress.com">kyle@kyletress.com</a> &bull;
<a class="link-twitter" href="http://www.twitter.com/kyletress">twitter</a> &bull;
<a class="link-facebook" href="http://www.facebook.com/kyletressskeleton">facebook</a> &bull;
<a class="link-youtube" href="http://www.youtube.com/jktress">youtube</a> &bull;
<a class="link-github" href="http://www.github.com/kyletress">github</a> &bull;
<a class="link-treehouse" href="http://www.teamtreehouse.com/kyletress">treehouse</a> &bull;
<a class="link-instagram" href="http://www.instagram.com/kyletress">instragram</a> &bull;
<a href="/credits">site credits</a> &bull;
<a href="http://www.github.com/kyletress/kyletress.com">source code</a>
</p>
