// Colors
$color-headings: #212121;
$color-text: #323a45;
$color-accent:#369; // #cd3e01
$color-links: $color-accent;

$color-muted: #999;
$color-subtle: lighten($color-text, 64%); // #ededed

// Social Colors
$color-twitter: #55acee;
$color-amazon: #ff9900;

// American colors
$us-blue: #112e51;
$us-red: #e31c3d;

// Fonts
$font-size: 1.5em; // prevent rem bug on body in Chrome
$font-serif: "Source Serif Pro", Georgia, serif;
$font-sans: "Source Sans Pro", "Helvetica Neue", sans-serif;
$font-code: "source-code-pro", "Courier New", monospace;
$line-height: 1.6;

$font-family-text: $font-sans;
$font-family-headings: $font-serif;
$font-family-code: $font-code;

// Container
$container-width: 90%;
$container-max-width: 700px;
$container-hd-max-width: 950px;


// Breakpoint
$breakpoint: 75rem;
