// sticker footer
body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  min-height: 100vh;
}

main {
  -webkit-flex: 1;
}

.container {
  margin: 7.5%;
  padding-top: 43px;
  width: 90%;
  @media(min-width: $md) {
    max-width:600px;
  }
}

.masthead {
  text-align:center;
  font-size:1.4rem;
  margin-bottom: 2rem;
  .inner {
    width:100%;
    text-align:center;
    margin: 0 auto;
    padding: 0;
    @media (min-width: 768px) {
      padding:3rem 0;
      width: 700px;
      text-align:left;
      @include flexbox;
      @include align-items(flex-start);
    }
    img {
      @media (min-width: 768px) {
        margin-right:1rem;
      }
    }
    p {
      -webkit-flex: 1;
      flex: 1;
      margin:0;
      -webkit-align-self:center;
      align-self:center;
      color: $color-muted;
    }
  }
}

footer[role="site-footer"] {
  padding:3rem 0;
  margin-top:4rem;
  color:$color-muted;
  border-top: 1px solid #f1f1f1;
  nav {
    @include inline-navigation(.3rem);
  }
  p {margin: 0;}
  a {
    color: #5b616b;
    &:hover {
      color:darken(#5b616b, 25%);
    }
  }
}
