.container {
  margin: 0 auto;
  width: 90%;
  @media(min-width: $md) {
    margin: 0 auto;
    max-width:700px;
  }
}

.site-navigation {
  @include flexbox;
  @include inline-navigation(1rem);
  text-transform: uppercase;
  //margin-bottom: .5rem;
  background: $us-blue;
  //padding: .9rem;
  width: 100%;
  ul {
    width:700px;
    max-width: 700px;
    margin: 0 auto;
    li {
      padding: .9rem 1.2rem;
      &:hover {
        background: darken($us-blue, 3%);
      }
    }
    li.twitter a {
      color: $color-twitter;
    }
  }
  a {
    color:white;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-decoration: none;
  }
}

.navbar {
  background: #fafafa;
  text-align:center;
  font-size:1.4rem;
  margin-bottom: 2rem;
  .inner {
    width:90%;
    text-align:center;
    margin: 0 auto;
    padding: 1.6rem 0;
    @media (min-width: $md) {
      padding:3rem 0;
      width: 700px;
      text-align:left;
      @include flexbox;
      @include align-items(flex-start);
    }
    img {
      @media (min-width: 600px) {
        margin-right:1rem;
      }
    }
    p {
      -webkit-flex: 1;
      flex: 1;
      margin:0;
      -webkit-align-self:center;
      align-self:center;
      color: $color-muted;
    }
  }
}

footer[role="site-footer"] {
  //font-family: $font-sans;
  padding:3rem 0;
  margin-top:4rem;
  font-size:1.1rem;
  color:$color-muted;
  text-align:center;
  border-top: 1px solid #f1f1f1;
  p {
    margin:0;
    margin-bottom:.5rem;
  }
  nav {
    @include inline-navigation(.5rem);
    text-transform: uppercase;
    margin-bottom: .5rem;
  }
  a {
    color: #5b616b;
    &:hover {
      color:darken(#5b616b, 25%);
    }
  }
}
