header {
  .brand {
    color: black;
    font-weight: bold;
    font-family: $font-serif;
  }
  p {
    margin-bottom: 0;
  }
  @media(min-width: 700px) {
    text-align: left;
  }
}

nav {
  a {
    margin-right: .5rem;
  }
}

.site-nav {
  font-family: $font-serif;
  a {
    text-decoration: none;
  }
}
