a[href*="www.twitter.com"]:hover { color: $color-twitter; }
a[href*="tumblr.kyletress.com"]:hover { color: $color-tumblr; }
a[href*="www.instagram.com"]:hover { color: $color-instagram; }
a[href*="www.github.com"]:hover { color: $color-github; }
a[href*="www.amazon.com"]:hover { color: $color-amazon; }

.intro {
  display: flex;
  align-items: center;
  img {
    //margin-right: 1rem;
  }
  p {
    flex: 1;
  }
}

.smart-bar {
  position: fixed;
  padding: .5rem;
  width: 100%;
  background: rgba(255,255,255,.975);
  display: flex;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  align-items: center;
  img {
    //flex: 1;
  }
  p {
    margin: 0;
  }
  .tinyletter {
    display: flex;
  }
}
