.rings {
  text-align:center;
}

.center {
  text-align:center;
}

.flex {
  @include flexbox;
  .content{
    -webkit-flex: 1;
    padding-left:1rem;
  }
  .photos {
    -webkit-flex: 1;
  }
}

.book{
  h4{
    margin-bottom:0;
    font-weight:$font-weight-normal;
    a {
      font-weight: $font-weight-bold;
    }
  }
  p{
    margin-top:0;
  }
}

.faqs{
  dt {
    margin-bottom:0;
    font-weight:bold;
    //font-family: $font-serif;
  }
  dd {
    margin-left:0;
    margin-bottom: 2rem;
    p {
      margin-top:0;
    }
  }
}

.page-header{
  text-align:center;
  @media(min-width: $md) {
    text-align:left;
  }
}

.introduction {
  text-align:center;
  @media(min-width: $xs){
    @include flexbox;
    @include align-items(flex-start);
    padding: 2rem 0;
    text-align:left;
    p {
      @include flex(1);
      margin:0;
    }
    .headshot {
      margin-right:1rem;
    }
  }
}

.book{
  h4{
    font-family: $font-serif;
    margin-bottom:0;
    font-weight:$font-weight-normal;
    font-style:italic;
    a {
      font-weight: $font-weight-bold;
      font-style:normal;
    }
  }
  p{
    margin-top:0;
  }
}

.center {
  text-align:center;
}

.reading-list{
  font-size: 1.4rem;
  ul {
    list-style:none;
    padding-left: 0;
  }
  li {
    margin:1rem 0;
  }
}

.book-notes{
  font-size:1.2rem;
}

// Photo credit text
img + em {
  color: $color-muted;
  text-align:right;
  display:block;
  font-size:1.2rem;
  font-style:normal;
  a {
    color:darken($color-muted, 15%);
    text-decoration:none;
  }
}

.img {
  border: 1px solid $color-subtle;
  padding:2px;
  background: white;
}

// Gives the photo a little depth
.img-photo{
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

// Rounds square images
.img-rounded{
  @include border-radius(50%);
}

.headshot {
  padding: .3rem;
  border: 1px solid #ddd;
  &:hover {
    background: #ddd;
  }
}


a[href*="www.twitter.com"]:hover { color: $color-twitter; }
a[href*="tumblr.kyletress.com"]:hover { color: $color-tumblr; }
a[href*="www.instagram.com"]:hover { color: $color-instagram; }
a[href*="www.github.com"]:hover { color: $color-github; }
a[href*="www.amazon.com"]:hover { color: $color-amazon; }

.site-nav {
  nav {
    @include inline-navigation(.5rem);
  }
}

.footnotes {
  color: $color-muted;
  font-size: 1.2rem;
}

.olympic-header {
  height:.2rem;
  width:100%;
  background-image:
  linear-gradient(
    to right,
    $olympic-blue,
    $olympic-blue 20%,
    $olympic-yellow 20%,
    $olympic-yellow 40%,
    $olympic-black 40%,
    $olympic-black 60%,
    $olympic-green 60%,
    $olympic-green 80%,
    $olympic-red 80%
  );
}

.apple-header {
  height:.2rem;
  width:100%;
  background-image:
  linear-gradient(
    to right,
    $apple-green,
    $apple-yellow 16.67%,
    $apple-orange 33.33%,
    $apple-red 50%,
    $apple-purple 66.67%,
    $apple-blue 83.34%
  );
}

.newsletter {
  background: #fafafa;
  padding:2rem;
  h3 {
    font-size:1.6rem;
    letter-spacing:0;
    margin-bottom:1rem;
  }
  p {
    color: $color-muted;
  }
}

.subtitle {
  color: #046b99;
  text-transform: uppercase;
  font-size:1.4rem;
  letter-spacing: 1px;
}

.highlight {
  font-size:1.4rem;
  blockquote {
    // font-style: normal;
    color: $color-text;
    border-left: none;
    padding-left: 0;
    font-weight: normal;
    background: #fafafa;
    padding: 2rem;
  }
}

.amazon{
  background: #5b616b;
  color: white;
  text-decoration: none;
  border-radius: .3rem;
  padding: .2rem .7rem;
  &:hover {
    background: $color-amazon;
    color:white;
  }
}
