// BUTTONS

.btn {
  display: inline-block;
  background-color: $color-links;
  padding: 8px 11px;
  @include border-radius(3px);
}

.btn,
.btn:hover,
a .btn:hover,
.btn.active {
  color: $color-background;
}

.btn:hover,
a .btn:hover,
.btn.active {
  background-color: darken($color-links, 15%);
  text-decoration:none;
}