// Social Colors

$profiles: (
  twitter: #55acee,
  facebook: #3B5998,
  youtube: #CD332D,
  instagram: #517FA4,
  treehouse: #80A34C,
  github: #3a3838,
  linkedin: #0073b2,
  tumblr: #35465c,
  amazon: #FF9900
);

@each $profile, $color in $profiles {
    a.link-#{$profile} {
      color: $color;
      &:hover{
        color: darken($color, 25%);
      }
    }
}