{% include 'includes/reading_time' %}
{% capture content %}
  <article role="article" class="essay">
    <header class="content-header">
      <h1>{{ title }}</h1>
    </header>
    <div class="content-body">
      {{ body }}
    </div>
    <footer class="content-footer">
    </footer>
  </article>

  <mark>
    <strong>Get new book recommendations every month</strong>. Join my email newsletter and you’ll get great book recommendations each month, as well as articles I write based on my reading and research. <a href="http://www.tinyletter.com/kyletress">Sign up here.</a>
  </mark>

{% endcapture %}
{% include 'layouts/default' %}
