*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: $container-width;
  max-width: $container-max-width;
  margin: 0 auto; //if you want it centered
}


html{
  font-size:62.5%;
}

body {
  background: $color-background;
  -webkit-font-smoothing:subpixel-antialiased;
  font-size: $base-font-size * .9; // 14px
  font-family: $font-family-text;
  color:$color-text;
  line-height:1.4;
  @media(min-width:$sm) {
    font-size: $base-font-size; // 16 px
  }
  @media(min-width: $md) {
    font-size: $base-font-size * 1.1; // 18px
  }
}

h1, h2, h3, h4, h5, h6 {
  color:$color-headings;
  font-family: $font-family-display;
  font-weight: $font-weight-semi-bold;
}

a {
  color: $color-links;
  transition: color .3s ease;
  text-decoration:underline;

  &:hover {
    color: darken($color-links, 15%);
    text-decoration: underline;
  }
}

blockquote {
  font-style:italic;
  font-size:$base-font-size * .9;
  color: lighten($color-text, 30%);
  border-left: 1px solid $color-borders;
  margin-left:0;
  padding-left:2rem;
}

figure{
  margin:2rem 0;
}

figcaption{
  font-size:$base-font-size * .9;
  color:$color-muted;
  text-align:left;
}

mark{
  background:rgba(248,231,28,.20);
  a {
    color:$color-code;
  }
}

img{
  max-width:100%;
  height: auto;
}

hr {
  background:#eee;
  border: 0;
  width: 15%;
  height: 3px;
  margin: 3rem auto;
}

pre {
  font-weight: 500;
  background-color: lighten($color-borders, 5%);
  padding: 2.4rem;
  -webkit-white-space: pre-wrap;
  -ms-white-space: pre-wrap;
  -moz-white-space: pre-wrap;
  -o-white-space: pre-wrap;
  white-space: pre-wrap;
  border-radius: 3px;
  code{
    color: $color-muted;
    background-color:inherit;
    font-weight: 500;
  }
}

code {
  font-family: $font-family-code;
  padding: 2px 4px;
  font-size: 1.4rem;
  color: $color-code;
  //white-space: nowrap;
  background-color: #f9f2f4;
}

dt {
  font-weight:bold;
}

.dl {
  margin-left:1rem;
  p {
    margin-bottom:0;
  }
  dd {
    padding:0;
    margin:0;
    &.meta {
      font-size:1.2rem;
      font-style:italic;
      color:$color-muted;
    }
  }
}

main {
  padding: 2rem 0;
}
