{% capture content %}
  <article class="essay">
    <header class="content-header">
      <h1>{{ title }}</h1>
      {% if meta.updated? %} <mark>Updated {{meta.updated? | strip_html }}</mark>
      {%endif%}
    </header>
    <div class="content-body">
      {{ body }}
    </div>
    <footer class="content-footer">
      {% if taxonomy.tags.size > 0 %}
        <strong>Tags: </strong>
        {% for tag in taxonomy.tags %}
          <a href="{{tag.url}}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      {% endif %}
      {% if parent %}
      <p><a href="{{parent.url}}">&larr; Back to {{parent.title}}</a></p>
      {% endif %}
    </footer>
  </article>
{% endcapture %}

{% include 'layouts/default' %}
