{% capture content %}
<header>
  <h1>{{ title }}</h1>
  {% if meta.subtitle %}
    <h2>{{ meta.subtitle }}</h2>
  {% endif %}
  {% if meta.authors %}
    <p class"meta">{{ meta.authors }}</p>
  {% endif %}
</header>

{{ body }}

{% if type == 'post' %}
<section class="book-notes">
  <h3>Notes</h3>
{% for note in parent.pages['notes'].taxonomy['book'][slug].posts %}
<section class="book-note">
  {{ note.body }}
  <div class="note-meta">
  {% if note.meta.page %}page {{ note.meta.page }}{%  endif %}
  </div>
</section>
{% endfor %}
</section>
{% endif %}

{% endcapture %}

{% include 'layouts/default' %}
