{% capture content %}

<header class="content-header">
  <h1>{{ title }}</h1>
  <p class"meta">{% if meta.subtitle %}{{ meta.subtitle }}{%endif%} <em>by</em> {% for tag in taxonomy.author %}{{tag}}{% unless forloop.last %}, {% endunless %} {% endfor %}</p>
</header>

{{ body }}

<section class="book-notes">
{% for note in parent.pages['notes'].taxonomy['book'][slug].posts %}
<section class="book-note">
  {{ note.body }}
  <div class="note-meta">
  {{ note.meta.location }} &mdash;
  {% for tag in note.taxonomy.tags%}<a href="{{tag.url}}">{{tag}}{% unless forloop.last %}, {% endunless %} </a>{%endfor%}
  </div>
</section>
{% endfor %}
</section>

{% endcapture %}

{% include 'layouts/default' %}
