{% capture content %}
<p><a href="/reading">&larr; Back to reading</a></p>
<div class="media">
  <div class="media__item">
    <img src="{{assets.first}}" alt="{{assets.first.caption}}" class="img-bordered" width="125">
  </div>
  <div class="media__body">
    <h2>{{ title }}</h2>
    {% if meta.subtitle %}
    {{ meta.subtitle | markdown }}
    {% endif %}
    by {% for tag in taxonomy.author %}{{tag}}{% unless forloop.last %}, {% endunless %} {% endfor %}
    <p><a href="#" class="link-amazon">Buy it on amazon.com</a>
  </div>
</div>

{% if body != empty %}
<section class="book-summary">
<h2>Summary</h2>
{{ body }}
</section>
{%endif%}

<section class="book-notes">
<h2>Notes</h2>
{% for note in parent.pages['notes'].taxonomy['book'][slug].posts %}
<section>
  {{ note.body }}
  <a href="{{ note.url}}">{{ note.meta.location }}</a> &mdash;
  {% for tag in note.taxonomy.tags%}<a href="{{tag.url}}">#{{tag}} </a>{%endfor%}
</section>
{% endfor %}
</section>

{% endcapture %}

{% include 'layouts/default' %}
