{% capture content %}
<header class="content-header">
<h1>Notes on {{ title }}</h1>
</header>

{% if parent %}
  <a href="{{parent.url}}">&larr;  Go Back</a>
{% endif %}

<section class="book-notes">
{% for post in posts %}
<section class="book-note">
{{ post.body }}
<div class="note-meta">
  <a href="/reading/{{post.taxonomy['book'].first.slug}}">{{ post.taxonomy['book'].first }}</a> &mdash; {{ post.meta.location }}
</div>
</section>
{% endfor %}
</section>

{% endcapture %}

{% include 'layouts/default' %}