<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{site.meta.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }} - {{ current.title }}</title>

  <link rel="icon" href="/favicon.ico" type="image/ico">
  <link rel="stylesheet" href="/css/master.css">

  <script src="//use.typekit.net/{{site.meta.typekit_id}}.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>

<body class="{% if parent %}{{ parent.title }}{% else %}{{ slug }}{% endif %} container">
  <main>
    {{content}}
  </main>
  {% include 'includes/header' %}
  {% include 'includes/footer' %}
  </body>
</html>
