<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{site.meta.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }} - {{ current.title }}</title>
  <link rel="icon" href="/favicon.ico" type="image/ico">
  <link rel="stylesheet" href="/css/master.css">
  {% include 'includes/typekit' %}
</head>
<body>
  <main class="container">
    {% include 'includes/header' %}
    {{content}}
  </main>
  {% include 'includes/footer' %}
</body>
</html>
