<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }} - {{ current.title }}</title>
  <meta name="description" content="{{site.meta.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.ico" type="image/ico">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/grid.css">
  <link rel="stylesheet" href="/css/master.css">
  {% include 'includes/typekit' %}
</head>

<body class="{% if parent %}{{ parent.title }}{% else %}{{ slug }}{% endif %}">
    <header role="banner">
      <div class="container">
        <div class="headshot">
          <img src="/assets/headshot.jpg" alt="Headshot of Kyle Tress" class="img-bordered" width="101" />
        </div>
        <div>
          <p>{{site.meta.tagline}}</p>
          <nav role="navigation">
            <ul>
              {% for page in site.pages %}
              <li {% if page.url == current.url %}class="active"{%endif%}>
                <a href="{{ page.url }}">{{ page.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">

    {{ content }}

    <footer role="site-footer">
      {% include 'includes/social-links' %}
      <p>Since 2002. <em>Mens sana in corpore sano</em>.</p>
      <div class="rings"><img src="/assets/rings-grey.svg" width="65"></div>
    </footer>
  </div><!--end container-->
  {% include 'includes/analytics' %}
</body>
</html>
