<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }} - {{ current.title }}</title>
  <meta name="description" content="{{site.meta.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.ico" type="image/ico">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/grid.css">
  <link rel="stylesheet" href="/css/prism.css">
  <link rel="stylesheet" href="/css/master.css">
  {% include 'includes/typekit' %}
</head>

<body class="{% if parent %}{{ parent.title }}{% else %}{{ slug }}{% endif %}">
<div class="container">
  <header role="banner">
    <nav role="navigation">
      <ul>
        <li><a href="/" class="branding">kyletress.com</a></li>
        <li><a href="/info">info</a></li>
        <li><a href="/essays">essays</a></li>
        <li><a href="/skeleton">skeleton</a></li>
        <li><a href="/library">reading</a></li>
        <li><a href="/videos">videos</a></li>
        <li><a href="/portfolio">work</a></li>
      </ul>
      <p class="tagline">{{site.pages.status.posts.first | strip_html }}</p>
    </nav>
  </header>
  {{ content }}
  <footer role="site-footer">
  {% include 'includes/social-links' %}
    <p class="copyright">{{site.meta.quote}}</p>
      <div class="rings"><img src="/assets/rings.svg" width="65"></div>
  </footer>
</div><!--end container-->
  {% include 'includes/analytics' %}
  <script src="/js/prism.js"></script>
  <script src="/js/fluidvids.min.js"></script>
   <script>
    fluidvids.init({
      selector: 'iframe',
      players: ['www.youtube.com']
    });
    </script>
</body>
</html>
